html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9b88e;
}

/* Center all content together */
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px; /* Space for fixed navigation */
    padding: 20px;

}

/* Navigation stays at top */
#navigation_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #5a2e1f;
    border: 1px solid black;
}

/* Keep your text containers neat */
#title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    color:#2e2e2e;
    font-weight: bold;

}
#title_container_phrase{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    color:#2e2e2e;
    font-weight: bold;

}

#core_text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 900px;
    color:#2e2e2e;
    font-size: 20px;
    font-weight: bold;
}
.buttons{
    height: 50px;
    width: 300px;
    font-size: 20px;
    letter-spacing: 2px;
    background-color: #fff1e6;
    color:#4b2a1a;
    font-weight: bold;
}

/* Menu page styles */
.menu_cards {
    width: 100%;
    height: 300px;
    background-color: #fff1e6;
    border: 2px solid #5a2e1f;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 20px;
    font-weight: bold;
    padding-top: 10px;
    color: #4b2a1a;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menu_cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
}

#menu_container{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    margin: 0 auto;
    column-gap: 100px;
}

#contact_page_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 600px;
    width: 900px;
    font-size: 20px;
    white-space: pre-line;
    color: #4b2a1a;
    margin-top: 250px;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

